extends ../layout

block head
    script(type='text/javascript').
        var params = '#{jsParams}' ? !{JSON.stringify(jsParams)} : undefined;
    script(type='text/javascript' src='/javascripts/IngredientContainer.js')
    script(type='text/javascript' src='/javascripts/ResourceContainer.js')
    script(type='text/javascript' src='/javascripts/KitchenContainer.js')
    script(type='text/javascript' src='/javascripts/edit_kitchen.js')

block content
    section(class="")
        div(class='row')
            div(class='col-md-12')
                form(method="post", action="/addkitchen")
                    div(class='row')
                        div(class='col-md-6')
                            div(class='row')
                                div(class='col-md-12')
                                    div(class='box-container')
                                        div(class='box-inner')
                                            include ./kitchen_head.jade

                            div(class='row')
                                div(class='col-md-12')
                                    div(class='box-container')
                                        div(class='box-inner resource-list')
                                            h3 selected resources
                                            ul(data-last-id="0")
                                            input(type="text", class="form-control add-resource no-post", placeholder="add a resource")
                    
                            div(class='row')
                                div(class='col-md-12')
                                    div(class='box-container')
                                        div(class='box-inner ingredient-list')
                                            h3 selected ingredients
                                            ul(data-last-id="0")
                                            input(type="text", class="form-control add-ingredient no-post", placeholder="add an ingredient")
                    
                        div(class='col-md-6 available-resource-list')
                            div(class='box-container')
                                div(class='box-inner')
                                            
                    div(class='row')
                        div(class='col-md-12  new-recipe-submit')
                            div(class='box-container')
                                div(class='box-inner')
                                    input(type="submit" class="submit-add-recipe form-control" value="submit")
                    
        div(class='row')
            div(class='col-md-6 available-ingredient-list')
                div(class='box-container')
                    div(class='box-inner')
                        h2 available ingredients
                        ul.available-ingredient-list
                            if availableIngredientList
                                each object, i in availableIngredientList
                                    li
                                        include ../ingredient/ingredient_box.jade
                                    
            div(class='col-md-6 available-resource-list')
                div(class='box-container')
                    div(class='box-inner')
                        h2 available resources
                        ul.available-resource-list
                            if availableResourceList
                                each object, i in availableResourceList
                                    li
                                        include ../resource/resource_box.jade

        div(class='row')
            div(class='col-md-6 new-ingredient')
                div(class='box-container')
                    div(class='box-inner')
                        include ../ingredient/new_ingredient.jade

            div(class='col-md-6 new-resource')
                div(class='box-container')
                    div(class='box-inner')
                        include ../resource/new_resource.jade
                