div(class='form-horizontal')
    h2 tell us about your kitchen
    input(type="hidden", class="kitchen-id", name="kitchen-id", value="#{paramKitchen && paramKitchen.title ? paramKitchen.title : ''}")
    div(class='form-group')
        label(for="title", class="col-md-2 control-label ") title
        div(class='col-md-10')
            input(type="text", class="form-control ", placeholder="title", name="title", id="title", value="#{paramKitchen && paramKitchen.title ? paramKitchen.title : ''}")
    div(class='form-group')
        label(for="description", class="col-md-2 control-label ") desc.
        div(class='col-md-10')
            textarea(class="form-control", placeholder="description", name="description", id="description") #{paramKitchen && paramKitchen.description ? paramKitchen.description : ''}
