$color00 : #ff8500;
$color01 : #f78000;
$color02 : #e98fe2;
$color03 : #ffe100;
$color04 : #f7d900;
$color05 : #e9d32e;
$color06 : #d80062;
$color07 : #cf005e;
$color08 : #c4276e;
$color09 : #0478a4;
$color10 : #01709b;
$color11 : #227392;

$black : #000000;
$gray : #696969;
$lightgray : #ccc;
$dustywhite : #ccc;
$linen: #faf0e6;
$eerie: #1b1b1b;

$basefont: "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin asap($weight) {
    font-family: 'Asap';
    font-weight: $weight;
}

@mixin roboto-condensed($weight) {
    font-family: 'Roboto Condensed';
    font-weight: $weight;
}

@mixin border-radius ($radius) {
    @include border-top-radius($radius);
    @include border-bottom-radius($radius);
}

/******************************** BASE ********************************/

/* for older browsers http://www.w3.org/wiki/HTML_structural_elements */
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
    display: block;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    /*border-color: $color00;*/
    border-color: $color04;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 127, 00, 0.6);
    outline: 0 none;
}

h1 {
    @include asap(400);
    font-style: italic;
    font-size: 2.4em;
    color: $color03;
}

h2 {
    @include roboto-condensed(300);
    margin-left: 10px;
    font-size: 2em;
    color: $gray;
    font-weight: normal;
    border-bottom: 1px solid #c8c8c8;
}

h3 {
    @include roboto-condensed(400);
    margin-left: 20px;
    font-size: 1.6em;
    color: $gray;
    font-weight: normal;
    border-bottom: 1px solid #c8c8c8;
}

body {
    @include roboto-condensed(300);
    font-size: 1.2em;
    line-height: 1.4em;
}

textarea {
    resize: vertical;
}

label {
    color: #888888;
    font-weight: normal;
    font-size: 1.4em;
}

p {
    @include roboto-condensed(300);
    font-size: 1.4em;
    line-height: 1.4em;

}

a {
    @include roboto-condensed(400);
    font-size: 17px;
    color: $gray;
    cursor: pointer;
}

li.border-bottom {
    border-bottom: 1px dotted #888888;
}

div.content {
    background-color: #f8f8f8;
}

ul.head-menu {

    border-bottom: 1px solid #c8c8c8;
    list-style-type: none;    
    padding-top: 0;
    padding-bottom: 5px;
    margin-bottom: 0;
    
    li {
        
        &.logo {
            background-image: url('/images/cookhat_b.png');
            background-repeat: no-repeat;
            height: 160px;
            margin-bottom: 10px;
            
            div.text {
                width: 230px;
                background-color: $black;
                border-radius: 10px;
                margin-left: -30px;
                margin-top: 80px;
                padding: 5px 5px 2px 10px;
                font-family: "Lucida Console", Monaco, monospace;
                letter-spacing: 0.8em;
                /*text-transform: uppercase;*/
                
                span.tag1 {
                    color: $color00;
                    font-size: 1.6em;
                }
                
                span.tag2 {
                    color: $color09;
                    font-size: 1.2em;
                }
                
            }
        }
        
        &.actions {
            padding-right: 0;
            
            .menu {
                
                ul {
                    height: 42px;
                    background-color: $black;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    border-bottom: 5px solid $lightgray;
                    
                    li {
                        display: block;
                        
                        a {
                            float: left;
                            height: 37px;
                            margin: 0;
                            padding: 12px 30px 0 30px; 
                            border-radius: 0px;
                            color: $linen;
                            /*font-family: "Lucida Console", Monaco, monospace;*/
                            font-family: $basefont;
                            
                            
                            &:hover {
                                background-color: $gray;
                                text-decoration: none;
                            }
                        }
                    }
                }
                
            }
            
            .search {
                
                .basic-search {
                    
                    input.basic-search {
                        margin: 86px 0 0 0;
                        border-width: 1px 1px 1px 15px;
                        border-radius: 0 4px 4px 0;
                        border-color: $gray $gray $gray $gray;
                        font-size: 2em;
                        color: $gray;
                        padding: 0 0 0 0.3em;
                        
                        &:focus {
                            border: 1px solid $black;
                            border-left-width: 15px;
                            box-shadow: 0 0 5px rgba(179, 163, 176, 0.5);
                        }
                    }
                    
                }
                
                &.advanced-search {
                }
                
            }
            
        }

        &.profil {

            background-color: $black;
            border-bottom: 5px solid $lightgray;
            
            a {
                float: right;
                display: block;
                width: 100%;
                margin-top: 0px;
                color: #404040;
                padding: 5px;

                &:hover {
                    text-decoration: none;
                    border-color: #c8c8c8;
                }
                
                img {
                    width: 27px;
                    height: 27px;
                }
            }
        }
        
    }
    
}

/**************/
/* main boxes */
/**************/

div.box-container {
    background-color: #ffffff;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 0 0 1px;
    box-shadow: 4px 4px 4px #c8c8c8;
    border-color: #c8c8c8;

    div.box-inner {
    }

}

div.resource-list ul, div.ingredient-list ul, div.prerequisite-list ul {
    list-style-type: none;
    
    span.title {
        color: #888888;
        font-weight: normal;
        font-size: 1.4em;
    }
}
    
div.instruction-step-list {    
    
    div.box-container {
        
        ul {
            list-style-type: decimal;
        }
    }
    
}

li.instruction-step {
    border: $color03;
    border-radius: 4px;
    background-color: #ffffff;
    color: $color00;
    margin-bottom: 4px;
    
    .move-box {
        background-color: $color03;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: move;
    }
}

div.new-recipe-submit {
    
    color: $color03;
    
}

div.ingredients-resources {    
    color: $color00;
    
    pre {
        background-color: #ffffff;
        border-color: $black;
        color: $color00;
    }
    
}

div.available-ingredient-list {
    
    ul.available-ingredient-list {
        list-style-type: none;
        
        li {
            margin: 2px;
        }
    }
    
}

div.available-resource-list {

    ul.available-resource-list {
        list-style-type: none;
        
        li {
            margin: 2px;
        }
    }
    
}

div.new-resource {
    
    ul {
        list-style-type: none;
    }
    
}

div.new-ingredient {
    
    color: $color03;
    
}

div.instruction-step-ingredients ul {
    list-style-type: none;
}

/*******************/
.resources {
    float: left;
    width: 200px;
    height: 100px;
    border: 1px blue solid;
}

.row {
    overflow: hidden;
}

.row.short {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0.25;
    width: 90%;
}

p.drop-box-comment {
    color: #555;
    font-size: 13px;
    line-height: 1.42857143;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

div.selected-resources ol, div.selected-ingredients ol, div.instruction-steps ul {

    list-style-type: none;
    
}

div.available-ingredient, div.available-resource, div.available-process {
    display: block;
    cursor: move;
}

div.available-process {
    background-color: #eeeeee;
    color: #888888;
    border: 1px solid #c8c8c8;
    padding: 2px;
}

div.available-ingredient {
    background-color: #eeeeee;
    color: #888888;
    border: 1px solid #c8c8c8;
    padding: 2px;
}

div.available-resource {
    background-color: #eeeeee;
    color: #888888;
    border: 1px solid #c8c8c8;
    padding: 2px;
}

.ingredient-box {
    border: 1px orange solid;
}

.resource-box {
    border: 1px orange solid;
}

.regular {
    font-weight: 400;
}

/*******************/
.icon {
    /* tile size: 74px */
    background-image: url('/images/icons_small2.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    box-shadow: none;
    border-radius: 0;

    &.delete {
        background-position: -97px -161px;
    }
}
