$color00 :  #ff8500;
$color01 :  #f78000;
$color02 :  #e98fe2;
$color03 :  #ffe100;
$color04 :  #f7d900;
$color05 :  #e9d32e;
$color06 :  #d80062;
$color07 :  #cf005e;
$color08 :  #c4276e;
$color09 :  #0478a4;
$color10 :  #01709b;
$color11 :  #227392;
$black :  #000000;

@mixin asap($weight) {
    font-family: 'Asap';
    font-weight: $weight;
}

@mixin roboto-condensed($weight) {
    font-family: 'Roboto Condensed';
    font-weight: $weight;
}

@mixin border-radius ($radius) {
    @include border-top-radius($radius);
    @include border-bottom-radius($radius);
}

/******************************** BASE ********************************/

/* for older browsers http://www.w3.org/wiki/HTML_structural_elements */
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
    display: block;
}

h1 {
    @include asap(400);
    font-style: italic;
    font-size: 32px;
    color: $color03;
}

h2 {
    @include roboto-condensed(300);
    font-size: 1.2em;
    color: #606060;
    font-weight: normal;
    border-bottom: 1px solid #c8c8c8;
}

h3 {
    @include roboto-condensed(400);
    font-size: 17px;
    color: #606060;
    font-weight: normal;
    border-bottom: 1px solid #c8c8c8;
}

body {
    @include roboto-condensed(300);
    font-size: 17px;
    line-height: 1.4em;
}

label {
    color: #888888;
    font-weight: normal;
}

p {
    @include roboto-condensed(300);
    font-size: 17px;
    line-height: 1.4em;

    a {
        @include roboto-condensed(400);
        font-size: 17px;
        color: $color09;
    }
}

li.border-bottom {
    border-bottom: 1px dotted #888888;
}

div.content {
    background-color: #f8f8f8;
}

ul.head-menu {
    color: #ffffff;
    border-bottom: 1px solid #c8c8c8;
    list-style-type: none;    
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    
    li {
        height: 80px;
        
        &.logo {
            background-image: url('/images/kitchen_small.png');
            background-repeat: no-repeat;
        }
        
        &.search {
            
            input.search {
                margin-top: 25px;
            }
        }

        &.profil {

            a {
                display: block;
                margin-top: 25px;
                color: #404040;
                
                &:hover {
                    text-decoration: none;
                }
            }
        }
        
    }
    
}

/**************/
/* main boxes */
/**************/

div.box-container {
    background-color: #ffffff;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 0 0 1px;
    box-shadow: 4px 4px 4px #c8c8c8;

    div.box-inner {
    }

}

div.process-head {

    div.box-container {
        border-color: #c8c8c8;
    }
    
}
    
div.add-instruction-step {
    color: $color03;
    
    pre {
        background-color: #ffffff;
        border-color: #c8c8c8;
        color: $color00;
    }
    
    div.box-container {
        border-color: #c8c8c8;
    }

    div.resource-list ul,  div.ingredient-list ul {
        list-style-type: none;
    }
        
}

div.instruction-step-list {    
    
    div.box-container {
        border-color: #c8c8c8;
        
        ul {
            list-style-type: decimal;
        }
    }
    
}

li.instruction-step {
    border: $color03;
    border-radius: 4px;
    background-color: #ffffff;
    color: $color00;
    margin-bottom: 4px;
    
    .move-box {
        background-color: $color03;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: move;
    }
}

div.new-recipe-submit {
    color: $color03;
    
    div.box-container {
        border-color: #c8c8c8;
    }
    
}

div.ingredients-resources {    
    color: $color00;
    
    pre {
        background-color: #ffffff;
        border-color: #000000;
        color: $color00;
    }
    
    div.box-container {
        border-color: #c8c8c8;
    }
    
}

div.available-ingredient-list {
    
    div.box-container {
        border-color: #c8c8c8;
    }
    
    ul.available-ingredient-list {
        list-style-type: none;
        
        li {
            margin: 2px;
        }
    }
    
}

div.available-resource-list {

    div.box-container {
        border-color: #c8c8c8;
    }
    
    ul.available-resource-list {
        list-style-type: none;
        
        li {
            margin: 2px;
        }
    }
    
}

div.new-resource {
    
    div.box-container {
        border-color: #c8c8c8;
    }
    
    ul {
        list-style-type: none;
    }
    
}

div.new-ingredient {
    color: $color03;
    
    div.box-container {
        border-color: #c8c8c8;
    }
    
}

div.instruction-step-ingredients ul {
    list-style-type: none;
}

/*******************/
.resources {
    float: left;
    width: 200px;
    height: 100px;
    border: 1px blue solid;
}

.row {
    overflow: hidden;
}

.row.short {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0.25;
    width: 90%;
}

p.drop-box-comment {
    color: #555;
    font-size: 13px;
    line-height: 1.42857143;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

div.selected-resources ol, div.selected-ingredients ol, div.instruction-steps ul {

    list-style-type: none;
    
}

div.available-ingredient, div.available-resource, div.available-process {
    display: block;
    cursor: move;
}

div.available-process {
    background-color: #eeeeee;
    color: #888888;
    border: 1px solid #c8c8c8;
    padding: 2px;
}

div.available-ingredient {
    background-color: #eeeeee;
    color: #888888;
    border: 1px solid #c8c8c8;
    padding: 2px;
}

div.available-resource {
    background-color: #eeeeee;
    color: #888888;
    border: 1px solid #c8c8c8;
    padding: 2px;
}

.ingredient-box {
    border: 1px orange solid;
}

.resource-box {
    border: 1px orange solid;
}

.regular {
    font-weight: 400;
}

/*******************/
.icon {
    /* tile size: 74px */
    background-image: url('/images/icons_small2.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    box-shadow: none;
    border-radius: 0;

    &.delete {
        background-position: -97px -161px;
    }
}
