div(class='form-horizontal')
    input(type="hidden", class="loaded-instruction-step", value="" )
    p add instruction step
    
    div(class='form-group')
        label(for="add-instruction-step-text", class="col-md-2 control-label") text
        div(class='col-md-10')
            textarea(id="add-instruction-step-text", class="form-control no-post text ", placeholder="explain the instructions")
        
    div(class="form-group")
        label(for="add-instruction-step-duration", class="col-md-2 control-label") duration
        div(class='col-md-4')
            input(type="text", class="form-control no-post duration", placeholder="duration")

        label(for="add-instruction-step-attendance-rate", class="col-md-2 control-label") attendance
        div(class='col-md-4')
            input(type="text", class="form-control no-post attendance-rate", placeholder="attendance rate")
        
div(class="ingredient-list")
    p selected ingredients
    pre
        p(class="drop-box-comment") move your items here
        ul

    div.input
        input(type="button", class="btn btn-default no-post add-ingredient ", value="new ingredient")
        
div(class="resource-list")
    p selected resources
    pre
        p(class="drop-box-comment") move your items here
        ul
                
    div.input
        input(type="button", class="btn btn-default no-post add-resource ", value="new resource")

div(class="controls")
    input(type="button", class="btn btn-default no-post submit ", value="add step")
    input(type="button", class="btn btn-default no-post save hidden ", value="ok")
    input(type="button", class="btn btn-default no-post cancel hidden ", value="cancel")
