div(class='form-group instruction-step-head')
    p add instruction step
    div.input
        //span.label text
        input(type="textarea", class="form-control form-data", name="text", placeholder="text")
    div.input
        //span.label duration
        input(type="text", class="form-control form-data", name="duration", placeholder="duration")
    div.input
        //span.label attendance rate
        input(type="text", class="form-control form-data", name="attendance-rate", placeholder="attendance rate")
        
div(class='form-group instruction-step-ingredients-resources')
    div.instruction-step-ingredients
        p selected ingredients
        pre
            p(class="drop-box-comment") move your items here
            ol
    
        div.input
            input.input-add-ingredient(type="button", class="form-control", value="new ingredient")
            
    div.instruction-step-resources
        p selected resources
        pre
            p(class="drop-box-comment") move your items here
            ol
                    
        div.input
            input.input-add-resource(type="button", class="form-control", value="new resource")

div(class='form-group')
    div.actions
        input(type="button", class="form-control submit", value="add step")
