div(class='form-group instruction-step-head')
    input(type="hidden", class="", name="loaded-instruction-step", value="" )
    p add instruction step
    textarea(class="form-control form-data", name="text", placeholder="explain the instructions")
    div(class="row")
        div(class='col-md-6 col-xs-11')
            input(type="text", class="form-control form-data", name="duration", placeholder="duration")
        div(class='col-md-5 col-xs-11')
            input(type="text", class="form-control form-data", name="attendance-rate", placeholder="attendance rate")
        div(class='col-md-1 col-xs-1')
            p %
        
div(class='form-group instruction-step-ingredients-resources')
    div.instruction-step-ingredients
        p selected ingredients
        pre
            p(class="drop-box-comment") move your items here
            ul
    
        div.input
            input.input-add-ingredient(type="button", class="form-control", value="new ingredient")
            
    div.instruction-step-resources
        p selected resources
        pre
            p(class="drop-box-comment") move your items here
            ul
                    
        div.input
            input.input-add-resource(type="button", class="form-control", value="new resource")

div(class='form-group instruction-step-controls')
    div.actions
        input(type="button", class="btn btn-primary submit", value="add step")
        input(type="button", class="btn btn-primary save hidden", value="ok")
        input(type="button", class="btn btn-primary cancel hidden", value="cancel")
