doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/javascripts/lib/jquery-ui-1.11.4/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
    link(rel='stylesheet', href='/stylesheets/autocomplete.bootstrap.css')

    script(type='text/javascript', src='/javascripts/lib/jquery-2.1.3.min.js')
    script(type='text/javascript', src='/javascripts/lib/jquery-ui-1.11.4/jquery-ui.js')
    script(type='text/javascript', src='/javascripts/lib/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/index.js')

    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    block head
  body
    block body
