extends layout

block head
    script(type='text/javascript').
        var params =!{JSON.stringify(paramProcess)}
    script(type='text/javascript' src='/javascripts/edit_process.js')

block content        
    div(class='container-fluid content')
        div(class='row')
            div(class='col-xs-12')
                form(method="post", action="/addprocess")
                    div(class='row')
                        div(class='col-md-4 col-xs-12 process-head')
                            div(class='box-container')
                                div(class='box-inner')
                                    include ./process_head.jade
                    
                        div(class='col-md-8 col-xs-12 ingredients-resources')
                            div(class='box-container')
                                div(class='box-inner')
                                    div.selected-ingredients
                                        p selected ingredients
                                        pre
                                            p(class="drop-box-comment") move your items here
                                            ul
                                
                                    div.selected-resources
                                        p selected resources
                                        pre
                                            p(class="drop-box-comment") move your items here
                                            ul
                                    
                    div(class='row')
                        div(class='col-md-6 col-xs-12 add-instruction-step')
                            div(class='box-container')
                                div(class='box-inner')
                                    include ./add_instruction_step.jade
                                    
                        div(class='col-md-6 col-xs-12 instruction-step-list')
                            div(class='box-container')
                                div(class='box-inner')
                                    include ./instruction_step_list.jade
                            
                    div(class='row')
                        div(class='col-xs-12  new-recipe-submit')
                            div(class='box-container')
                                div(class='box-inner')
                                    input(type="submit" class="submit-add-recipe form-control" value="submit")
                    
        div(class='row')
            div(class='col-xs-6 available-ingredient-list')
                div(class='box-container')
                    div(class='box-inner')
                        p available ingredients
                        ul.available-ingredient-list
                            if ingredientList
                                each object, i in ingredientList
                                    li
                                        include ./ingredient_box.jade
                                    
            div(class='col-xs-6 available-resource-list')
                div(class='box-container')
                    div(class='box-inner')
                        p available resources
                        ul.available-resource-list
                            if resourceList
                                each object, i in resourceList
                                    li
                                        include ./resource_box.jade

        div(class='row')
            div(class='col-xs-6 new-resource')
                div(class='box-container')
                    div(class='box-inner')
                        include ./new_resource.jade
                
            div(class='col-xs-6 new-ingredient')
                div(class='box-container')
                    div(class='box-inner')
                        include ./new_ingredient.jade
