header
    ul(class="row head-menu")
        li(class="col-md-8 logo")
            div(class="text")
                div(class="title")
                    span(class="tag1") pal
                    span(class="tag2") of
                    span(class="tag1") cook
            div(class="search")
                input(type="text" class="search form-control" placeholder="find recipes")
                
        li(class="col-md-3 search")
        
        li(class="col-md-1 profil")
            a(href="/") profil
