header
    ul(class="row head-menu")
        li(class="col-md-2 logo")
            a(href="/")
                div(class="item")
                    p logo
        li(class="col-md-6 search")
            input(type="text" id="" placeholder="find recipes")
        li(class="col-md-4 profile")
            p profile
