header
    ul(class="row head-menu")
        li(class="col-md-2 logo")
            a(href="/")
                div(class="item")
                    span logo
                
        li(class="col-md-3 search")
            input(type="text" class="search form-control" placeholder="find recipes")
        
        li(class="col-md-7 profile")
            
