header
    ul(class="row head-menu")
        li(class="col-md-3 logo")
            div(class="text")
                span(class="tag1") pal
                span(class="tag2") of
                span(class="tag1") cook
        
        li(class="col-md-8 actions")
            div(class="row menu")
                div(class="col-md-12")
                    ul
                        li
                            a(href="#") upload
                        li
                            a(href="/recipes") list
                        li(class="last")
                            a(href="#") abc
            
            form(action="/recipes")
                div(class="row search")
                    div(class="col-md-6 basic-search")
                        input(type="text" class="basic-search form-control" name="qt" placeholder="find recipes")
                        input(type="submit" class="form-control" value="go")
                        input(type="button" class="form-control" value="advanced" data-toggle="collapse" data-target="#advanced-search-form" aria-expanded="false" aria-controls="advanced-search-form")
                    div(class="col-md-6 advanced-search")
                        div(class="form collapse in" id="advanced-search-form")
                            input(type="text" class="ingredient-search form-control" name="qi" placeholder="find by ingredients")
                            label(for="kitchen-search") for my kitchen
                            input(type="checkbox" class="kitchen-search" name="kitchen-search" id="kitchen-search")
        
        li(class="col-md-1 profil")
            a(href="/")
                img(src="/images/profil2.png")
