header
    ul(class="row head-menu")
        li(class="col-md-8 logo")
            div(class="image")
            div(class="text")
                <span class="tag1">pal</span><span class="tag2">of</span><span class="tag1">cook</span>
                
        li(class="col-md-3 search")
            input(type="text" class="search form-control" placeholder="find recipes")
        
        li(class="col-md-1 profil")
            a(href="/") profil
