header
    ul(class="row head-menu")
        li(class="col-md-8 logo")
        
        li(class="col-md-3 search")
            input(type="text" class="search form-control" placeholder="find recipes")
        
        li(class="col-md-1 profil")
            a(href="/") profil
