header
    ul(class="row head-menu")
        li(class="col-md-3 logo")
            div(class="text")
                span(class="tag1") pal
                span(class="tag2") of
                span(class="tag1") cook
        
        li(class="col-md-8 actions")
            div(class="row menu")
                div(class="col-md-12")
                    ul
                        li
                            a(href="#") upload
                        li
                            a(href="#") categories
                        li(class="last")
                            a(href="#") abc
            
            div(class="row search")
                div(class="col-md-6 basic-search")
                    input(type="text" class="basic-search form-control" placeholder="find recipes")
                div(class="col-md-6 advanced-search")
                    p 
        
        li(class="col-md-1 profil")
            a(href="/")
                img(src="/images/profil2.png")
