p new ingredient
form(class="new-ingredient", name="new-ingredient",method="post",action="/newingredient")
    input(type="text", name="name", class="form-control", placeholder="name")
    input(type="text", name="description", class="form-control", placeholder="description")
    input(type="submit", value="add new ingredient", class="form-control")
