p new ingredient
form(class="new-ingredient", name="new-ingredient",method="post",action="/newingredient", enctype="multipart/form-data")
    input(type="text", name="title", class="form-control title", placeholder="name")
    input(type="text", name="description", class="form-control description", placeholder="description")
    input(type="file", name="image", class="form-control", placeholder="image")
    input(type="button", value="add new ingredient", class="form-control no-post submit-new-ingredient")
