p new resource
form(class="new-resource", name="new-resource", method="post", action="/newresource", enctype="multipart/form-data")
    input(type="text", name="title", class="form-control title", placeholder="name")
    input(type="text", name="description", class="form-control description", placeholder="description")
    input(type="file", name="image", class="form-control image", placeholder="image")
    input(type="button", value="add new resource", class="form-control no-post submit")
