extends layout

block head
    script(type='text/javascript' src='/javascripts/newrecipe.js')

block content
    div(class='container-fluid content')
        div(class='row')
            div(class='col-xs-12')
                form.form-add-recipe(name="new-recipe", method="post", action="/newrecipe")
                    div(class='row row-eq-height')
                        div(class='col-md-4 col-xs-12 form-group recipe-head')
                            p tell us about your recipe
                            div(class='row')
                                div(class='col-xs-12')
                                    input(type="text", class="form-control input-name", placeholder="name", name="name")
                            div(class='row')
                                div(class='col-xs-12')
                                    textarea(class="form-control", placeholder="description", name="description")
                    
                        div(class='col-md-8 col-xs-12 ingredients-resources')
                            div.selected-ingredients
                                p selected ingredients
                                pre
                                    p(class="drop-box-comment") move your items here
                                    ol
                            
                            div.selected-resources
                                p selected resources
                                pre
                                    p(class="drop-box-comment") move your items here
                                    ol
                                    
                    div(class='row row-eq-height')
                        div(class='col-md-6 col-xs-12 add-instruction-step')
                            include ./add_instruction_step.jade
                        div(class='col-md-6 col-xs-12 instruction-step-list')
                            include ./instruction_step_list.jade
                            
                    button(type="submit" class="btn-submit-add-process form-control") submit
                    
        div(class='row')
            div(class='col-xs-6 available-ingredient-list')
                p available ingredients
                ul.ingredient-list
                    each element, i in ingredientList
                        li(class="available-ingredient", data-id="#{element.id}")
                            = element.name
                                
            div(class='col-xs-6 available-resource-list')
                p available resources
                ul.resource-list
                    each element, i in resourceList
                        li(class="available-resource", data-id="#{element.id}")
                            = element.name
                            if element.image
                                img(src="#{element.image.path}")

        div(class='row')
            div(class='col-xs-6 new-resource')
                include ./new_resource.jade
                
            div(class='col-xs-6 new-ingredient')
                include ./new_ingredient.jade
