input(type="hidden", class="id no-post", value="")
div(class="row")
    div(class="col-md-2 col-xs-12")
        input(type="text", class="form-control title no-post", placeholder="ingredient")
    div(class="col-md-2 col-xs-12")
        input(type="text", class="form-control amount no-post", placeholder="amount")
    div(class="col-md-2 col-xs-12")
        input(type="text", class="form-control unit no-post", placeholder="unit")
    div(class="col-md-2 col-xs-12")
        input(type="comment", class="form-control comment no-post", placeholder="comment")
    div(class="col-md-1 col-xs-12")
        label(class="", for="selected-ingredient-11") optional
        input(type="checkbox", class="optional checkbox-inline no-post", id="selected-ingredient-11")
    div(class="col-md-1 col-xs-12")
        input(type="button", class="icon delete btn btn-default btn-xs no-post")
