li
    input(type="hidden" class="id")
    input(type="hidden" class="title")
    input(type="hidden" class="amount")
    input(type="hidden" class="unit")
    input(type="hidden" class="comment")
    input(type="hidden" class="optional")
    
    span(class="amount")
    span(class="unit")
    span(class="title")
    span(class="comment")
