input(type="hidden", class="id")

div(class="row")
    div(class="col-md-11 col-xs-12")
        span(class="text")
    div(class="col-md-1 col-xs-12")
        input(type="button", class="icon delete btn btn-default btn-xs")
