li(class="instruction-step list-group-item" data-id="")
    input(type="hidden" class="id" name="")
    input(type="hidden" class="text" name="")
    input(type="hidden" class="duration" name="")
    input(type="hidden" class="attendance-rate" name="")

    div(class="row")
        div(class="col-md-1 move-box")
            span M
        div(class="col-md-2")
            span(class="text")
        div(class="col-md-1")
            span(class="attendance-rate")
        div(class="col-md-5")
            div(class="row")
                div(class="col-md-12")
                    ul(class="ingredient-list" data-last-id="0")
            div(class="row")
                div(class="col-md-12")
                    ul(class="resource-list" data-last-id="0")
        div(class="col-md-2")
            ul(class="prerequisite-list" data-last-id="0")
        div(class="col-md-1")
            input(type="button" class="remove form-control icon delete")
