extends ../layout

block head
    script(type='text/javascript' src='/javascripts/process_list.js')

block content
    div(class='container-fluid content')
        div(class='row')
            div(class='col-xs-12')
                ul.process-list
                    if processList
                        each element, i in processList
                            li(class="process", data-id="#{element.id}")
                                a(href="/recipe/" + element.title) #{element.title}
                                if element.image
                                    img(src="/uploads/#{element.image.filename}")
