h2 available ingredients

ul.available-ingredient-list
    if availableIngredientList
        each object, i in availableIngredientList
            li
                include ../ingredient/ingredient_box.jade
