input(type="hidden", class="id", value="")

div(class="row")
    div(class="col-md-2 col-xs-12")
        span(class="title")
    div(class="col-md-2 col-xs-12")
        input(type="text", class="form-control amount", placeholder="amount")
    div(class="col-md-2 col-xs-12")
        input(type="text", class="form-control unit", placeholder="unit")
    div(class="col-md-2 col-xs-12")
        input(type="comment", class="form-control comment", placeholder="comment")
    div(class="col-md-1 col-xs-12")
        label(class="optional") optional
        input(type="checkbox", class="optional checkbox-inline", id="")
    div(class="col-md-1 col-xs-12")
        input(type="button", class="icon delete btn btn-default btn-xs")
